.body-container {
	width: 100%;
	min-height: 100vh;
}

.body-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.header-logo {
	cursor: pointer;
}

.body-content {
	margin: 30px;
}

.body-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #001529;
	color: #fff;
}