.comment-box {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 10px;
}

.comment-box:nth-last-child() {}

.comment-body {
	text-align: left;
}

.comment-author {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0;
}